{% extends 'EloMain/old/../base.html' %}

{% block title %} Рейтинг ЭЛО{% endblock %}

{% block rating %}

<div class="container">

    <a class="btn">Полный расчёт</a>
    <a class="btn">Расчёт изменения позиций рейтинга</a>
    <hr>
    <a class="btn">Сброс рейтинга</a>
    <a class="btn">Сброс изменений</a>
    <a class="btn">Сброс матчей</a>
    <hr>
    <a class="btn">Заполнение национальный</a>
    <a class="btn">Заполнение ЛЧ/ЛЕ Финалы</a>
    <a class="btn">Заполнение ЛЧ/ЛЕ Группы</a>
    <hr>
    <a class="btn" href="rating">Общий рейтинг</a>
    <a class="btn" href="country_rating">Рейтинг стран</a>
    <a class="btn" href="top_changes">Максимальная дельта</a>
    <a class="btn" href="top_rating_ever">Максимальный рейтинг</a>
    <a class="btn" href="month_rating">Месячный рейтинг</a>
    <a class="btn" href="year_rating">Годовой рейтинг</a>
    <hr>
    <a class="btn" href="last_changes">Последние изменения</a>
    <hr>
    <a class="btn" href="last_matches_fill">Заполнение последних матчей</a>


</div>


{% endblock %}