{% extends 'EloMain/old/../base.html' %}

{% block title %} Рейтинг ЭЛО{% endblock %}

{% block rating %}

<div class="container">

    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Команда</th>
            <th scope="col">Игра</th>
            <th scope="col">Рейтинг</th>
        </tr>
        {% for t in top %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ t.game.date }}</td>
                <td>{{ t.club }}</td>
                <td>{{ t.game.home_team }} {{ t.game.home_score }}-{{ t.game.away_score }} {{ t.game.away_team }}</td>
                <td>{{ t.rating_after }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}