{% extends 'EloMain/base.html' %}

{% block script %}
<script type="text/javascript">
    window.onload=function(){
    var rows = document.getElementsByTagName("tr");
        for (var i = 0; i < rows.length; i++)
        {
            rows[i].onclick = function() {
               console.log(this.id);
               url = "country/"+this.id
               window.open(url,"_self")
            };
        }
    }
</script>
{% endblock %}

{% block body %}
    <section class="section-table cid-rWgyRXyGAB" id="table1-8">


        <div class="container container-table">
            <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">Рейтинг чемпионатов</h2>

            <div class="table-wrapper">
                <div class="container">

                </div>

                <div class="container scroll">
                    <table class="table" cellspacing="0">
                        <thead>
                        <tr class="table-heads ">


                            <th class="head-item mbr-fonts-style display-7">#</th>
                            <th class="head-item mbr-fonts-style display-7">Чемпионат</th>
                            <th class="head-item mbr-fonts-style display-7">
                                Рейтинг
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for champ in champs %}
                            <tr id="{{ champ.id }}">
                                <td class="body-item mbr-fonts-style display-7">{{ forloop.counter }}</td>
                                <td class="body-item mbr-fonts-style display-7">{{ champ.name }}</td>
                                <td class="body-item mbr-fonts-style display-7">{{ champ.rating }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="container table-info-container">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
