{% extends 'EloMain/base.html' %}
{% load static %}

{% block body %}

    <section class="section-table cid-rWgq4ZhF90" id="table1-1">


        <div class="container container-table">
            <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
                Рейтинг клубов</h2>
            <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5"><a href="{% url "rating" %}">смотреть полный
                рейтинг</a></h3>
            <div class="table-wrapper">
                <div class="container">

                </div>

                <div class="container scroll">
                    <table class="table" cellspacing="0">
                        <thead>
                        <tr class="table-heads ">


                            <th class="head-item mbr-fonts-style display-7">#</th>
                            <th class="head-item mbr-fonts-style display-7">Клуб</th>
                            <th class="head-item mbr-fonts-style display-7">Чемпионат</th>
                            <th class="head-item mbr-fonts-style display-7">Рейтинг</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for club in clubs %}
                            <tr>
                                <td class="body-item mbr-fonts-style display-7">{{ forloop.counter }}</td>
                                <td class="body-item mbr-fonts-style display-7">{{ club.name }}</td>
                                <td class="body-item mbr-fonts-style display-7">{{ club.championship.name }}</td>
                                <td class="body-item mbr-fonts-style display-7">{{ club.rating }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="container table-info-container">

                </div>
            </div>
        </div>
    </section>


{% endblock %}