{% extends 'EloMain/base.html' %}

{% block title %} Рейтинг ЭЛО{% endblock %}

{% block rating %}

<div class="container">

    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Игра</th>
            <th scope="col">Дельта</th>
            <th scope="col">Рейтинг до</th>
            <th scope="col">Рейтинг после</th>
        </tr>
        {% for change in changes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ change.game.date }}</td>
                <td>{{ change.game.home_team }} {{ change.game.home_score }}-{{ change.game.away_score }} {{ change.game.away_team }}</td>
                <td>{{ change.rating_delta }}</td>
                <td>{{ change.rating_before }}</td>
                <td>{{ change.rating_after }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}